
__pycache__/MyDef.cpython-36.pyc
*.pyc
*.pyc
src/main/pydev/com/ftd/generalutilities/dto/__pycache__/UiObject.cpython-36.pyc
*.pyc
src/main/pydev/com/ftd/generalutilities/dto/__pycache__/UiObject.cpython-36.pyc
src/main/pydev/com/ftd/generalutilities/dto/__pycache__/UiObject.cpython-36.pyc
*.pyc
